<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance Tracker</title>
    <div>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('registration') }}">Register</a>
        {% else %}
            <a href="{{ url_for('home_page') }}">Home</a>
            <a href="{{ url_for('post_expense') }}">Add Expenses</a>
            <a href="{{ url_for('get_expense') }}">Show Expenses</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>